body {
 background-color: orange;

}

h1 {
	font-family: 'Supermercado One', cursive;
}

p{
	background-color: black;
	font-family: 'Bebas Neue', cursive;
}

#square {
 width: 100px;
  height: 100px;
  background: red;
}


#circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}