body {
 background-color: orange;

}

h1 {
	font-family: 'Supermercado One', cursive;
	color: green;
}

p{
	
	font-family: 'Bebas Neue', cursive;
	border-style: hidden;
	color: white;

}

h3{
	background-color: red;
	font-family: 'Bebas Neue', cursive;
	color: blue;
}

button {
	background-color: yellow;
	color: black;

}
 h2{
 	background-color: black;
 	color: yellow;
 }