body {
 background-color: orange;

}

h1 {
	font-family: 'Supermercado One', cursive;
}

p{
	
	font-family: 'Bebas Neue', cursive;
	border-style: bold;

}

h3{
	background-color: red;
	font-family: 'Bebas Neue', cursive;
}

button {
	background-color: yellow;

}
 h2{
 	background-color: black;
 }